<h1>Event Alert!</h1>
<p>Hi, <em><%= name %></em>, this is an update regarding an event.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus facilis voluptatem, eligendi amet aliquam minus, eveniet esse totam non odit optio magni beatae pariatur deserunt voluptatibus. Nisi delectus eius aspernatur.</p>